@page "/"
@page "/index.html"

<PageTitle>This is Your Homepage Title</PageTitle>
<HeadContent>
    <meta name="description" content="Put your site description here (try to keep it to roughly 160 characters" />
    <meta name="keywords" content="Add 10 or so keywords here, no real impact on Google searches" />
    <meta name="robots" content="index, follow" />
</HeadContent>

<h1>Hello, world!</h1>

Welcome to your new app.
